.nav_bar {
    overflow: hidden;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    border-top: 3px solid #f7797d;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100% ;
    z-index: 10;
    transition: ease 1.5s;
}

.nav_bar a {
  text-decoration: none;
  color: #333;
  padding-bottom: 7px;
  border-bottom: 3px solid #fff;
}

.nav_bar a:hover {
  color: #f7797d;
  cursor: pointer;
  transition: ease 0.3s;
  border-color: #c6ffdd ;
}

.nav_bar ul {
    list-style-type: none;
}
  
.nav_bar li {
    float: left;
    padding: 0 10px 0 0;
    overflow: hidden;
}